<%- include('./include/header')%>
    <title><%= title%></title>
</head>
<body>
    <h2><%= title%></h2>
    <!-- // 所属机构 company
        // 所属机构id  companyId
        // 姓名 name
        // 照片 img
        // 工龄 workYears
        // 证书 certificate
                    bianhao 证书编号
                    img 照片
        // 评论   comment
                    userName 评论人
                    isAccreditation 是否实名
                    msg  评论内容
                    img 评论图片
                    score 评分 -->
    <button id="add">    添加</button>
   

</body>
<script src="../js/jq.js"></script>
<script>
$('#add').click(function(){
    $.ajax({
        url:'/teacher',
        type:'post',
        dataType:'json',
        data:{}
    }).done(res=>{
        console.log(res)
    })
})
</script>
</html>